.InputComponent{
    padding: 1.5em;
}

.TipContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 3em 3em;
    column-gap: 15px;
    row-gap: 15px;
    margin: 1em 0 2em 0;
} 

.Error{
    display: inline;
    color: red;
    position: relative;
    left: 29%;
    top: 1.5em
}

@media (min-width:800px){
    .TipContainer{
        grid-template-columns: 1fr 1fr 1fr;
    }

} 
@media (max-width: 350px){
    .Error{
        top: 6em;
    }
}